@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../abstracts/breakpoints" as breakpoint;
@use "../abstracts/animations" as anim;
@use "sass:math";

.portfolio-section {
  @extend %container-big;

  .wrapper {
    @include mix.wrap(80%);
  }

  //title box design

  .title-box {
    @include anim.appear;

    @include breakpoint.mobile-l {
      text-align: center;
    }
  }

  .green-word {
    @extend %green-word;
  }

  .blue-word {
    @extend %blue-word;
  }

  h2 {
    margin-bottom: 0;
  }

  //gallery layout and designs
  .gallery-box {
    @include mix.flex(row, space-between, center, var.$gutter-base, wrap);
    padding-top: var.$gutter-bigger;

    @include breakpoint.tablet {
      padding-top: var.$gutter-big;
    }

    @include breakpoint.mobile-l {
      flex-direction: column;
    }

    .gallery-item {
      @include anim.pop-up;
      flex-basis: calc(25% - var.$gutter-base);
      border-radius: var.$border-radius-big;
      overflow: hidden;
      position: relative;

      @include breakpoint.tablet {
        @include mix.wrap(90%);
        flex-basis: calc(50% - var.$gutter-base);
      }
      @media screen and (min-width: 2540px) {
        flex-basis: auto;
      }

      img {
        display: block;
      }

      &:hover .gallery-hover-text {
        opacity: 1;
      }
    }

    //gallery hover text layout and design
    .gallery-hover-text {
      @include mix.flex(column, center, center);
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var.$linear-gradient-primary;
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }

    .project-title {
      color: var.$text-color-base;
      font-size: var.$heading-size-base;
      margin-bottom: 0;
      font-weight: var.$font-weight-bold;
    }

    .project-description {
      color: var.$text-color-base;
      margin-bottom: 0;
    }
  }
}
